.treeRoot {
	box-sizing: border-box;
	height: 100%;
	padding: 32px;
}

.draggingSource {
	opacity: 0.3;
}

.dropTarget {
	background-color: #e8f0fe;
}

.csv {
	color: #1b5e20;
}

.text {
	color: #01579b;
}

.image {
	color: #b71c1c;
}
