html,
body,
#root {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree-root {
  box-sizing: border-box;
  height: 100%;
  padding: 32px;
}

.dragging-source {
  opacity: 0.3;
}

.drop-target {
  background-color: #e8f0fe;
}

.custom-node {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: 32px;
}

.custom-node__arrow {
  align-items: center;
  font-size: 0;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  transition: transform linear 0.1s;
  transform: rotate(0deg);
}

.custom-node__arrow.is-open {
  transform: rotate(90deg);
}

.custom-node__type {
  display: flex;
}

.custom-node__label {
  padding-inline-start: 8px;
}

.custom-drag-preview {
  align-items: "center";
  background-color: #1967d2;
  border-radius: 4px;
  box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 0.25),
    0 0 0 1px rgba(0, 0, 0, 0.08);
  color: #fff;
  display: inline-grid;
  font-size: 14px;
  gap: 8px;
  grid-template-columns: auto auto;
  padding: 4px 8px;
  pointer-events: none;
}

.custom-drag-preview__icon,
.custom-drag-preview__label {
  align-items: center;
  display: flex;
}
