html,
body,
#root {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree-root {
  box-sizing: border-box;
  height: 100%;
  padding: 32px;
}

.dragging-source {
  opacity: 0.3;
}

.drop-target {
  background-color: #e8f0fe;
}

.custom-node {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: 32px;
}

.custom-node__arrow {
  align-items: center;
  font-size: 0;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  transition: transform linear 0.1s;
  transform: rotate(0deg);
}

.custom-node__arrow.is-open {
  transform: rotate(90deg);
}

.custom-node__type {
  display: flex;
}

.custom-node__label {
  padding-inline-start: 8px;
}
