.root {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  height: 32px;
}

.root.isSelected {
  color: #1967d2;
}

.arrow {
  align-items: center;
  font-size: 0;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  transition: transform linear 0.1s;
  transform: rotate(0deg);
}

.arrow.is-open {
  transform: rotate(90deg);
}

.filetype {
  display: flex;
}

.label {
  padding-inline-start: 8px;
}
